.x-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.x-carousel-div {
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
  position: absolute;
}

.x-carousel-nav {
  width: 7%;
  max-width: 55px;
  position: absolute;
}

.x-carousel-leftnav {
  left: 0px;
  top: 0px;
  z-index: 2;
}

.x-carousel-rightnav {
  right: 0px;
  top: 0px;
  z-index: 2;
}

.x-carousel-nav:hover {
  cursor: pointer;
}

.x-carousel-footer {
  left: 0px;
  bottom: 0px;
  height: 2.5rem;
  z-index: 1;
  position: absolute;
  color: whitesmoke;
}

.x-carousel-div-content {
  flex: 0 0 auto;
  background-color: gray;
}

.x-carousel-div-content .pagelabel {
  color: whitesmoke;
  font-size: 6.5rem;
}

//----------------------------------------- more custom styles

.block30{
  width:30%;
}