.x-carousel {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.x-carousel-div {
  width: 90%;
}

.x-carousel-nav {
  width: 7%;
  max-width: 55px;
}

.x-carousel-div-content:nth-child(2n + 1) {
  background-color: crimson;
}

.x-carousel-div-content:nth-child(2n) {
  background-color: dodgerblue;
}

.full {
  width: 100%;
}

.collapsed {
  width: 0%;
}
